<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="fira6"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="tf_map_2_odom" default="false"/>

  <!-- laser -->
  <!--node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="hlds_laser_publisher" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="frame_id" value="laser"/>
  </node-->
  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node">
    <param name="port" value="/dev/sensors/hokuyo"/>
  </node>

  <!-- robot description -->
  <include file="$(find navigation)/launch/include/fira6.launch" />

  <!-- TF -->
  <node name="slam_pose_2_tf_odom" pkg="navigation" type="hector_pose_2_tf_odom.py" />
  <include file="$(find navigation)/launch/include/tf.launch">
    <arg name="tf_map_2_odom" value="$(arg tf_map_2_odom)"/>
  </include>

  <!-- SLAM -->
  <include file="$(find navigation)/launch/include/hector_mapping_for_amcl.launch" />

  <!-- AMCL -->
  <arg name="map" default="$(find navigation)/maps/fire_field.yaml"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map)" />
  <include file="$(find navigation)/launch/include/amcl2.launch" />

  <!-- Navigation -->
  <include file="$(find navigation)/launch/include/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find navigation)/rviz/navigation.rviz"/>
  </group>
</launch>
