<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="fira6"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="true"/>
  <arg name="tf_map_2_odom" default="true"/>

  <!-- robot description -->
  <include file="$(find navigation)/launch/include/fira6.launch" />

  <!-- TF -->
  <node name="slam_pose_2_tf_odom" pkg="navigation" type="hector_pose_2_tf_odom.py" />
  <include file="$(find navigation)/launch/include/tf.launch">
    <arg name="tf_map_2_odom" value="$(arg tf_map_2_odom)"/>
  </include>

  <!-- SLAM -->
  <include file="$(find navigation)/launch/include/hector_mapping.launch"/>
  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch"/>

  <!-- Navigation -->
  <include file="$(find navigation)/launch/include/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
      args="-d $(find navigation)/rviz/navigation.rviz"/>
  </group>
</launch>
